<div class="timesheet-list">
    <table>
        <tr>
            <th>Project</th>
            <th>Task</th>
            <th>Assigned To</th>
            <th>From</th>
            <th>To</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr *ngFor="let entry of timesheetEntries">
          <td>{{entry.project}}</td>
          <td>{{entry.task}}</td>
          <td>{{entry.assignedTo}}</td>
          <td>{{entry.fromDate}}</td>
          <td>{{entry.toDate}}</td>
          <td>{{entry.status}}</td>
          <td><button (click)="editEntry(entry)">Edit</button></td>
          <td><button (click)="deleteEntry(entry)">Delete</button></td>
        </tr>
    </table>
</div>